:root {
  --bg-font: 4.5rem;
  --md-font: 2.25rem;
  --sm-font: 1.5rem;
  --sm-margin: 1.4375rem;
  --md-margin: 2.1875rem;
  --main-color: #41ead4;
  --sub-color: #fb6376;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Jua', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.wrapper {
  width: 90%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header h1 {
  margin-bottom: var(--sm-margin);
}

header h1 a {
  font-size: var(--bg-font);
  line-height: 4.5rem;
  color: var(--main-color);
  text-decoration: none;
  transition: color 0.4s ease;
}

header h1 a:hover {
  color: var(--sub-color);
}

header h2 {
  font-size: var(--md-font);
  line-height: 2.625rem;
  margin-bottom: var(--sm-margin);
  color: var(--sub-color);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#search-box input {
  width: 90%;
  max-width: 700px;
  padding: 0.8125rem;
  padding-left: 1.875rem;
  font-size: var(--sm-font);
}

#search-box #button {
  margin-top: var(--sm-margin);
  width: 7.375rem;
  font-size: var(--sm-font);
  padding: 0.3125rem 0;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

#search-box #button:hover {
  background-color: var(--sub-color);
}

.datas {
  width: 50%;
  max-width: 400px;
  margin-top: var(--sm-margin);
  font-size: var(--sm-font);
  display: none;
}

.datas li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.1875rem;
}

.datas li .red {
  color: var(--sub-color);
}

.clicked {
  display: block;
}

@media screen and (max-width: 800px) {
  .datas li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
